body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#gridsizer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#gridcontainer {
    position: relative;
    overflow: visible;
    padding: 0;
    margin: 0 auto;
}

.gridcell {
    position: absolute;
    overflow: hidden;

    background: #aaaaff url(http://static.typepad.com/.shared/images/default-avatars/avatar-03-250x250.gif) no-repeat center;
    background-size: 100%;
    -moz-background-size: 100%;
}
