@import http://static.typepad.com/.shared:typepad:en_us/css/app/modules/app-buttons.css
@import ply.sass

body
    background: #333
    color: white

a, a:link, a:hover, a:visited, a:active
    color: #f90

a:visited
    color: #d70

=borderradius(!whassa)
    border-radius: #{!whassa}
    -moz-border-radius: #{!whassa}
    -webkit-border-radius: #{!whassa}

=boxshadow(!whassa)
    box-shadow: #{!whassa}
    -moz-box-shadow: #{!whassa}
    -webkit-box-shadow: #{!whassa}

=buttongradient(!top, !bottom)
    border-color: #{!bottom}
    background-color: #{!bottom}
    background-image: -webkit-gradient(linear, left top, left bottom, from(#{!top}), to(#{!bottom}))
    background-image: -moz-linear-gradient(#{!top}, #{!bottom})
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#{!top}, endColorstr=#{!bottom}, GradientType=0)

#toolbar
    padding: 10px 0

#toolbar #title
    float: left
    padding-left: 2px

#toolbar #hi
    float: right

#toolbar h1
    margin: 0

#toolbar h1 a
    color: white
    text-decoration: none

#toolbar h1 a:hover
    text-decoration: underline

#camspace
    position: relative
    float: left
    width: 458px
    height: 458px
    margin: 0 0 4px 4px

#camerabox, #howto, #photobox
    position: absolute
    width: 458px
    height: 458px
    top: 0
    left: -2px
    margin: 0 0 4px 4px

#camerabox
    background: #262626
    border: 0 solid #333
    border-width: 0 2px 2px 0
    z-index: 10

#photobox
    background: #262626
    position: relative

#howto
    background: #262626
    color: white
    z-index: 10

div#camera, #photo
    position: absolute
    width: 400px
    height: 400px
    margin: 29px

#camera-throb
    display: none

    position: absolute
    top: 0
    left: 0

    opacity: 0.5
    z-index: 10

    color: #fff
    background-color: #000
    font-size: 400px
    line-height: 458px
    text-align: center
    width: 458px
    height: 458px

#take-picture-box
    position: absolute
    bottom: 17px
    width: 100%
    text-align: center

.tp-button
    float: none
    display: inline-block

#camerabox.sending #camera-throb
    display: block

#camera, embed, object
    padding: 0
    margin: 0

#gridcontainer, #toolbar
    position: relative
    width: 924px
    margin: 0 auto
    overflow: hidden

#gridsubstrate
    position: relative
    width: 1078px
    left: -156px

.gridcell
    position: relative
    float: left
    width: 150px
    height: 150px
    margin: 0 0 4px 4px
    +boxshadow(#000 0 1px 2px)

.gridcell img
    width: 100%
    height: 100%

.gridcell .action
    position: absolute
    text-decoration: none
    background-color: rgba(0, 0, 0, 0.5)
    padding: 4px
    color: white
    bottom: 0
    font-size: 28px

.gridcell .action
    display: none

.gridcell .favorited
    display: block
    color: #f33

.gridcell .flagged
    display: block
    color: #ff3

.gridcell:hover .action, .gridcell-hover .action
    display: block

.gridcell .heart
    left: 0

.gridcell .flag
    right: 0

.gridcell .link
    width: 26px
    left: 62px
    text-align: center

#photobox
    width: 612px
    height: 612px

#photo
    text-align: center
    margin: 106px
    z-index: 10

#photo img
    display: inline-block
    margin: 0 auto
    max-width: 400px
    max-height: 400px

big img
    vertical-align: middle

#photo-data
    position: absolute
    width: 304px
    margin: 0 auto
    top: 0
    right: 0
    background: #262626

#photo-data-inner
    margin: 4px

.tp-button .button-makeface a, .tp-button .button-signin a
    color: #300
    text-shadow: #ffd400 0 1px 1px
    +buttongradient(#fc0, #f90)
    +boxshadow(#000 0 1px 2px)

    &:hover
        +buttongradient(#da0, #d70)

.tp-button .button-makeface a
    padding: 6px 6px 2px
    font-size: 12px
    line-height: 12px

.tp-button .button-signout a
    color: #999
    text-shadow: #000 0 1px 1px
    +buttongradient(#3a3a3a, #242424)
    +boxshadow(#000 0 1px 2px)

    &:hover
        +buttongradient(#292929, #131313)
