@import buttons.css
@import ply.sass

body
    background: #333
    color: white

a, a:link, a:hover, a:visited, a:active
    color: #f90

a:visited
    color: #d70

=borderradius(!whassa)
    border-radius: #{!whassa}
    -moz-border-radius: #{!whassa}
    -webkit-border-radius: #{!whassa}

=boxshadow(!whassa)
    box-shadow: #{!whassa}
    -moz-box-shadow: #{!whassa}
    -webkit-box-shadow: #{!whassa}

=buttongradient(!top, !bottom)
    border-color: #{!bottom}
    background-color: #{!bottom}
    background-image: -webkit-gradient(linear, left top, left bottom, from(#{!top}), to(#{!bottom}))
    background-image: -moz-linear-gradient(#{!top}, #{!bottom})
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#{!top}, endColorstr=#{!bottom}, GradientType=0)

#toolbar
    padding: 10px 0

#toolbar #title
    float: left
    padding-left: 2px

#toolbar #hi
    float: right

#hi .hi img
    vertical-align: middle
    width: 2em

#toolbar h1
    margin: 0

#toolbar a, #colophon .typepad-link
    color: white
    text-decoration: none

    &:hover
        text-decoration: underline

#camspace
    position: relative
    float: left
    width: 458px
    height: 458px
    margin: 0 0 4px 4px

#camerabox, #howto, #photobox
    position: absolute
    background: #262626
    width: 458px
    height: 458px
    top: 0
    left: -2px
    z-index: 10
    margin: 0 0 4px 4px
    border: 0 solid #333
    border-width: 0 2px 2px 0

#howto-inner
    position: relative
    margin: 0
    padding: 20px
    top: 0
    left: 0
    width: 418px
    height: 418px
    background: url(howto/burst.png)
    +boxshadow(#000 0 1px 2px)

    h1.first
        margin-top: 0

#howto-show-jacket
    position: absolute
    bottom: 40px
    left: 0
    width: 458px
    height: 180px
    overflow: hidden

#howto-show
    position: absolute
    left: 0
    top: 0
    width: 1374px
    height: 180px

    div
        float: left

        img
            +boxshadow(0 2px 4px #000)

    #howto-show-1, #howto-show-3
        width: 120px
        height: 120px
        padding: 30px 169px 31px

    #howto-show-2
        width: 151px
        height: 151px
        padding: 15px 153px 15px 154px

#camerabox
    overflow: hidden

#howto
    color: white
    text-shadow: #000 0 1px 1px

    h1
        color: #f90

    li
        margin-top: 1em

div#camera, #photo
    position: absolute
    width: 400px
    height: 400px
    margin: 29px

#need-help
    position: absolute
    display: none
    width: 458px
    padding: 10px
    z-index: 30
    font-size: 2em
    line-height: 1em
    background: #000000
    background: rgba(0, 0, 0, 0.8)
    color: white
    text-align: center

.camera-throb
    display: none

    position: absolute
    top: 0
    left: 0

    opacity: 0.5
    z-index: 10

    color: #fff
    font-size: 300px
    line-height: 458px
    text-align: center
    text-shadow: #000 0 10px 10px
    width: 458px
    height: 458px

#take-picture-box
    position: absolute
    bottom: 17px
    width: 100%
    text-align: center

@-moz-document url-prefix()
    #take-picture-box
        bottom: 2px

.tp-button
    float: none
    display: inline-block

#camerabox.sending #camera-throb
    display: block

#camera, embed, object
    padding: 0
    margin: 0

#faq
    font-size: 1.2em
    line-height: 1.5em

    h1
        color: #f90
        text-shadow: #000 0 1px 1px

    .figure
        text-align: center
        font-style: italic

        img
            +boxshadow(0 2px 4px #000)

#gridcontainer, #toolbar
    position: relative
    width: 924px
    margin: 0 auto
    overflow: hidden

#gridcontainer
    min-height: 150px

#gridsubstrate
    position: relative
    width: 1078px
    left: -156px

.gridcell, .colophon
    position: relative
    float: left
    width: 150px
    height: 150px
    margin: 0 0 4px 4px
    background: #262626
    +boxshadow(#000 0 1px 2px)

.gridcell img
    width: 100%
    height: 100%

.gridcell .action
    position: absolute
    text-decoration: none
    background-color: rgba(0, 0, 0, 0.5)
    padding: 4px
    color: white
    bottom: 0
    font-size: 28px

.gridcell .action
    display: none

.gridcell .favorited
    display: block
    color: #f33

.gridcell .flagged
    display: block
    color: #ff3

.gridcell:hover .action, .gridcell-hover .action
    display: block

.gridcell .hidden, .gridcell:hover .hidden
    display: none

.gridcell .heart, .gridcell .share
    left: 0

.gridcell .flag
    right: 0

.gridcell .share
    .share-twitter, .share-typepad, .share-facebook
        display: inline-block
        width: 16px
        height: 16px
        background: no-repeat center center

#colophon
    position: absolute
    bottom: 0
    right: 2px

.colophon
    z-index: 40
    text-align: center

    p
        margin: 1.5em 0 0 0

    img
        vertical-align: middle

#colophon-mini
    float: right

    p
        margin: 3.5em 0 0 0

a.arrow
    &:link, &:visited, &:active
        text-decoration: none
    &:hover
        text-decoration: underline

#photobox
    position: relative
    float: left

#photo
    text-align: center
    margin: 29px
    z-index: 10

#photo img
    display: inline-block
    margin: 0 auto
    max-width: 400px
    max-height: 400px

big img
    vertical-align: middle

#photo-data
    position: relative
    float: left
    width: 458px
    background: #262626

#photo-data img
    width: 50px
    height: auto

#photo-data-inner, #photo-favorites h2
    margin: 4px

#photo-favorites
    margin: -4px

.tp-button .button-makeface a, .tp-button .button-signin a
    color: #300
    text-shadow: #ffd400 0 1px 1px
    +buttongradient(#fc0, #f90)
    +boxshadow(#000 0 1px 2px)

    &:hover
        +buttongradient(#da0, #d70)

.tp-button .button-makeface a
    padding: 6px 6px 2px
    font-size: 12px
    line-height: 12px

.tp-button .button-signout a, .tp-button .button-heart a.favorited, .tp-button .button-flag a.flagged, .tp-button .button-makeface a.disabled
    color: #999
    text-shadow: #000 0 1px 1px
    +buttongradient(#3a3a3a, #242424)
    +boxshadow(#000 0 1px 2px)

    &:hover
        +buttongradient(#292929, #131313)

.tp-button .button-makeface
    text-align: center

    a
        position: relative

        img
            visibility: visible
        .disabled-text
            position: absolute
            visibility: hidden
            width: 99px
            padding: 0
            margin: 0

    a.disabled
        img
            visibility: hidden
        .disabled-text
            visibility: visible

.tp-button .button-heart a, .tp-button .button-share a
    color: #030
    text-shadow: #d4ff00 0 1px 1px
    +buttongradient(#cf0, #9f0)
    +boxshadow(#000 0 1px 2px)

    &:hover
        +buttongradient(#ad0, #7d0)

div.photo-action-heart, div.photo-action-share
    float: left

#photo-action-share .icon
    display: inline-block
    width: 16px
    height: 18px
    background: no-repeat 0 2px
    margin: 0

#photo-action-share .twitter, .gridcell .share .share-twitter
    background-image: url(twitter.png)

#photo-action-share .facebook, .gridcell .share .share-facebook
    background-image: url(facebook.png)

#photo-action-share .typepad, .gridcell .share .share-typepad
    background-image: url(typepad.png)

div.photo-action-flag, div.photo-action-delete
    float: right

.tp-button .button-flag a, .tp-button .button-delete a
    color: #300
    text-shadow: #ff8400 0 1px 1px
    +buttongradient(#f60, #f30)
    +boxshadow(#000 0 1px 2px)

    &:hover
        +buttongradient(#da0, #d70)

.button-heart .heart
    color: #933
    text-shadow: #600 0 1px 1px
    font-size: 22px

.hidden
    display: none

#share
    display: none

.oops
    position: absolute
    top: 20px
    right: 20px
    width: 418px
    background: #333
    +borderradius(20px)
    +boxshadow(#000 0 10px 20px)
    z-index: 9003
    font-size: 2em
    line-height: 1em

    .oops-inner
        margin: 5px
        padding: 10px
        background: #333
        border: 5px solid #fc0
        +borderradius(20px)

    h2
        font-size: 1.5em
        line-height: 1.5em
        margin: 0
        padding: 0
        font-weight: normal
        font-style: italic

    p
        margin: 0
        padding: 0

    p+p
        margin-top: 1em

    strong
        font-size: 1.1em
        line-height: 1em
        font-style: normal
        font-weight: bold

    em
        font-style: normal
        font-weight: bold
