{% extends "mobileface/base.html" %}
{% load abs %}
{% load typepad_filters %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="photo-action">
            <span class="tp-button">
                <span class="button button-makeface button-xl">
                    <a id="photo-action-makeface" href="{% url mobile_photo %}">Make A Face</a>
                </span>
            </span>
        </div>
        <script type="text/javascript">
            var cookie = $.cookie('motion');
            if (cookie) {
                var makeface = $('#photo-action-makeface');
                makeface.attr('href', makeface.attr('href') + '#' + cookie);
            }
        </script>
    {% endif %}

    <div id="gridsubstrate">
        {% for event in events %}
            {% if event.object %}
            <div class="gridcell {% cycle '' '' 'lastcell' %}">
                <a class="link" href="{% url photo xid=event.object.xid %}" title="View {{ event.object.author.display_name }}'s face">
                    <img src="{% with event.object|enclosurebywidth:100 as face %}{{ face.url }}{% endwith %}">
                </a>
            </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}
