<!DOCTYPE html>
<html><head>
    {% load typepad_filters %}

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block htmltitle %}Make A Face{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% url static path="makeaface/style.css" %}">
    <script type="text/javascript" src="{% url static path="makeaface/jquery.js" %}"></script>
    <script type="text/javascript" src="{% url static path="makeaface/cameraman.js" %}"></script>

    {% block htmlhead %}{% endblock %}
</head><body>

    {% block toolbar %}
    <div id="toolbar">
        <div id="title">
            <h1><a href="{% url home %}"><img src="{% url static path="makeaface/banner.png" %}" width="458" height="68" alt="Make A Face"></a></h1>
        </div>
        <div id="hi">
            {% if user.is_anonymous %}
                <p>Hi! <span class="tp-button"><span class="button button-signin"><a href="{% url login %}">Sign in</a></span></span> to face</p>
            {% else %}
                <p>
                    <span class="hi">Hi, <a href="{{ user.profile_page_url }}"><img src="{% with user|userpicbysize:50 as userpic %}{{ userpic.url }}{% endwith %}">{{ user.display_name }}</a>!</span>
                    <span class="tp-button"><span class="button button-signout"><a href="{% url logout %}">Sign out</a></span></span>
                </p>
            {% endif %}
        </div>
    </div>
    {% endblock %}
    {% block content %}{% endblock %}

    {% ifequal share "Facebook" %}
    <div id="share">
        <a id="facebook-share-link" name="fb_share" type="icon_link" href="http://www.facebook.com/sharer.php">Share</a>
        <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
    </div>
    {% else %}{% ifequal share "Twitter" %}
    {% else %}
        <script type="text/javascript">
        var TYPEPAD___bookmarklet_domain='http://www.typepad.com';
        function sharetypepad () {
            var b=document.body;
            if(b&&!document.xmlVersion){
                void(z=document.createElement('script'));
                void(z.type='text/javascript');
                void(z.src='http://static.typepad.com/.shared/js/qp/loader-combined-min.js');
                void(b.appendChild(z));
            }
        }

        $(document).ready(function () {
            var href = document.location.href;
            if (href.substring(href.length - 6) == '#share') {
                sharetypepad();
            }
        });
        </script>
    {% endifequal %}{% endifequal %}

{% if ganalytics_code %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("{{ ganalytics_code }}");
pageTracker._trackPageview();
{% block ganalytics_callbacks %}{% endblock %}
} catch(err) {}</script>
{% endif %}

</body></html>
