<!DOCTYPE html>
<html><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block htmltitle %}make-a-face{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% url static path="makeaface/style.css" %}">
    <script type="text/javascript" src="{% url static path="makeaface/jquery.js" %}"></script>
    <script type="text/javascript" src="{% url static path="makeaface/cameraman.js" %}"></script>

    {% block htmlhead %}{% endblock %}
</head><body>

    {% block toolbar %}
    <div id="toolbar" class="grid">
        <div class="span-6"></div>
        <div class="span-12"><h1>make a face</h1></div>
        <div class="span-6 last">
            {% if user.is_anonymous %}
                <p>Hi! <a href="{% url login %}">Sign in</a> to face</p>
            {% else %}
                <p>Hi, {{ user.display_name }}! <a href="{% url logout %}">Sign out</a></p>
            {% endif %}
        </div>
    </div><br style="clear: both">
    {% endblock %}
    {% block content %}{% endblock %}

</body></html>
