<!DOCTYPE html>
<html><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block htmltitle %}Make A Face{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% url static path="makeaface/style.css" %}">
    <script type="text/javascript" src="{% url static path="makeaface/jquery.js" %}"></script>
    <script type="text/javascript" src="{% url static path="makeaface/cameraman.js" %}"></script>

    {% block htmlhead %}{% endblock %}
</head><body>

    {% block toolbar %}
    <div id="toolbar">
        <div id="title">
            <h1><a href="{% url home %}"><img src="{% url static path="makeaface/banner.png" %}" width="458" height="68" alt="Make A Face"></a></h1>
        </div>
        <div id="hi">
            {% if user.is_anonymous %}
                <p>Hi! <span class="tp-button"><span class="button button-signin"><a href="{% url login %}">Sign in</a></span></span> to face</p>
            {% else %}
                <p>
                    <span class="hi">Hi, <a href="{{ user.typepad_url }}"><img src="{{ user.links.rel__avatar.maxwidth__50.href }}"></a> <a href="{{ user.typepad_url }}">{{ user.display_name }}</a>!</span>
                    <span class="tp-button"><span class="button button-signout"><a href="{% url logout %}">Sign out</a></span></span>
                </p>
            {% endif %}
        </div>
    </div>
    {% endblock %}
    {% block content %}{% endblock %}

    <div id="share">
        <iframe id="shareframe"></iframe>
    </div>

{% if ganalytics_code %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("{{ ganalytics_code }}");
pageTracker._trackPageview();
} catch(err) {}</script>
{% endif %}

</body></html>
