{% extends "makeaface/base.html" %}
{% load abs %}

{% block htmlhead %}
{% endblock %}

{% block content %}
    <div id="toolbar" class="grid">
        <div class="span-6"></div>
        <div class="span-12"><h1>make a face</h1></div>
        <div class="span-6 last">
            {% if user.is_anonymous %}
                <p>Hi! <a href="{% url login %}">Sign in</a> to face</p>
            {% else %}
                <p>Hi, {{ user.display_name }}! <a href="{% url logout %}">Sign out</a></p>
            {% endif %}
        </div>
    </div><br style="clear: both">

    <div id="gridcontainer">

        {% if user.is_authenticated %}
            <div id="camera">
                <button id="take-picture" class="take-picture">Take picture</button>
                <div id="camera-throb">☃</div>
            </div>

            <script type="text/javascript">
                cameraman.url = '{% absoluteurl %}{% url static path="makeaface/" %}{% endabsoluteurl %}';
                mycam = cameraman.createCamera({
                    'id': 'camera',
                    'width': '458px',
                    'height': '458px',
                    'sendto': '{% absoluteurl %}{% url upload_photo %}{% endabsoluteurl %}',
                    'errorSending': function(cam, err) { alert('OOPS: ' + err) },
                    'tookPhoto': function(cam) { tookPhoto(cam) },
                    //'droppedPhoto': function(cam) { droppedPhoto(cam) },
                    'sentPhoto': function(cam, url) { sentPhoto(cam, url) }
                });

                $('#take-picture').click(pingPingSnap);
                $('.gridcell').live('click', function () {
                    $(this).toggleClass('gridcell-hover');
                });
                $('.gridcell').live('mouseout', function () {
                    $(this).removeClass('gridcell-hover');
                });

                function pingPingSnap () {
                    mycam.takePhoto();
                }

                function tookPhoto(cam) {
                    $('#camera').addClass('sending');
                    cam.sendPhoto();
                }

                function sentPhoto(cam, url) {
                    // Make a new grid cell with this photo.
                    var newphoto = $('#firstcell');
                    newphoto.append($('<img/>').attr('src', url));
                    newphoto.find('a').attr('href', url);

                    $('#gridsubstrate').animate({
                        'left': '0px',
                    }, 'slow', function () {
                        // Replace all the old last cells with new first cells.
                        $('#gridsubstrate .lastcell').each(function () {
                            var $this = $(this);
                            var newlast = $this.prev('.gridcell');
                            var newfirst = newlast.clone();
                            newfirst.insertBefore($this);
                            newlast.addClass('lastcell');
                            $this.remove();
                        });

                        // Add a new blank first cell to reflow everything.
                        var $firstcell = $('#firstcell').attr('id', '');
                        var newfirstcell = $firstcell.clone();
                        newfirstcell.attr('id', 'firstcell');
                        newfirstcell.insertBefore($firstcell);

                        // Snap the substrate back into place.
                        $('#gridsubstrate').css('left', '-154px');

                        // Turn the camera back on.
                        cam.dropPhoto();
                        $('#camera').removeClass('sending');
                    });
                }

                $('#gridsubstrate .gridcell .heart').live('click', function (evt) {
                    var heart = $(this);
                    $.post('{% url favorite %}', {
                        'action': 'favorite',
                        'asset_id': heart.attr('href')
                    }, function () {
                        heart.addClass('favorited');
                    });
                    heart.blur();
                    return false;
                });

                $('#gridsubstrate .gridcell .flag').live('click', function (evt) {
                    var flag = $(this);
                    $.post('{% url flag %}', {
                        'action': 'flag',
                        'asset_id': flag.attr('href')
                    }, function () {
                        flag.addClass('flagged');
                    });
                    flag.blur();
                    return false;
                });
            </script>

        {% else %}
            <div id="howto">
                <div style="margin: 20px">

            <h1>Make a face. It's easy.</h1>

            <h2><ol>
            <li>Sign in.</li>
            <li>Make a face at your web cam.</li>
            <li>Click the button.</li>
            </ol></h2>

            <h1>Like someone's face? Say so!</h1>

            <h2><ol>
            <li>Point at the face you like with the mouse.</li>
            <li>Click the <big style="color: rgb(204, 0, 0);">♥</big>.</li>
            </ol></h2>

            <h1>That's it!</h1>

            </div></div>
        {% endif %}

        <div id="gridsubstrate">
            <div id="camspace"></div>
            <div id="firstcell" class="gridcell">
                {% if user.is_authenticated %}
                <a class="heart action" href="" title="I like this face">♥</a>
                <a class="flag action" href="" title="This is not a face">✘</a>
                {% endif %}
            </div>
        {% for event in events %}
            {% if event.object %}
            {% with next_box_loc.next as boxloc %}
                <div class="gridcell {% if boxloc.rowlast %}lastcell{% endif %}">
                    <img src="{{ event.object.links.rel__enclosure.maxwidth__150.href|slice:":-6" }}-150si">
                    {% if user.is_authenticated %}
                    <a class="heart action" href="{{ event.object.xid }}" title="I like this face">♥</a>
                    <a class="flag action" href="{{ event.object.xid }}" title="This is not a face">✘</a>
                    {% endif %}
                </div>
                {% if boxloc.rowlast %}
                <div class="gridcell">
                    <img src="{{ event.object.links.rel__enclosure.maxwidth__150.href|slice:":-6" }}-150si">
                    {% if user.is_authenticated %}
                    <a class="heart action" href="{{ event.object.xid }}" title="I like this face">♥</a>
                    <a class="flag action" href="{{ event.object.xid }}" title="This is not a face">✘</a>
                    {% endif %}
                </div>
                {% endif %}
            {% endwith %}
            {% endif %}
        {% endfor %}

        </div>
    </div>

{% endblock %}
