{% extends "makeaface/base.html" %}
{% load abs %}
{% load typepad_filters %}

{% block htmlhead %}
<link rel="alternate" type="application/rss+xml" href="{% url feeds url='faces' %}" title="Latest faces">
{% endblock %}

{% block content %}
    <div id="gridcontainer">

        {% if user.is_authenticated %}
            <div id="camerabox">
                <div id="need-help">
                    Not working? <a href="{% url faq %}">Try the FAQ &raquo;</a>
                </div>
                <div id="camera"></div>
                <div id="take-picture-box">
                    <span class="tp-button">
                        <span class="button button-makeface button-l">
                            <a id="take-picture" href="#" class="disabled"><span class="disabled-text">Loading...</span><img src="{% url static path="makeaface/make_a_face.png" %}" width="99" height="12" alt="Make A Face"></a>
                        </span>
                    </span>
                </div>
                <div id="camera-three" class="camera-throb">3</div>
                <div id="camera-two" class="camera-throb">2</div>
                <div id="camera-one" class="camera-throb">☃</div>
                <div id="camera-zero" class="camera-throb"></div>
                <div id="camera-spin" class="camera-throb">⤾</div>
                <div id="camera-yay" class="camera-throb">✓</div>
            </div>

            {% if flash.signedin %}
            <div id="first-post-1" class="first-post">
                <div class="point-left"></div>
                <big>Here you are</big>
                <p>and so’s your face</p>
            </div>

            <div id="first-post-2" class="first-post">
                <div class="point"></div>
                <big>Share your face</big>
                <p>in your favorite place</p>
            </div>

            <div id="first-post-3" class="first-post">
                <div class="point"></div>
                <big>Then share the love</big>
                <p>by <span class="heart">♥</span>ing faces you like</p>
            </div>
            {% endif %}

            <script type="text/javascript">
                cameraman.url = '{% absoluteurl %}{% url static path="makeaface/" %}{% endabsoluteurl %}';
                mycam = cameraman.createCamera({
                    'id': 'camera',
                    'width': $('#camera').width(),
                    'height': $('#camera').height(),
                    'wmode': 'window',
                    'sendto': '{% absoluteurl %}{% url upload_photo %}{% endabsoluteurl %}',
                    'cameraReady': function(cam) { $(document).trigger('cameraReady'); },
                    'cameraNotReady': function(cam) { $('#take-picture').addClass('disabled') },
                    'errorSending': function(cam, err) { alert('OOPS: ' + err) },
                    'tookPhoto': function(cam) { tookPhoto(cam) },
                    //'droppedPhoto': function(cam) { droppedPhoto(cam) },
                    'sentPhoto': function(cam, url) { sentPhoto(cam, url) }
                });

                $(document).bind('cameraReady', function () {
                    $('#take-picture').removeClass('disabled');
                });

                $('#take-picture').click(function () {
                    if (!$(this).hasClass('disabled'))
                        pingPingSnap();
                    return false;
                });

                function pingPingSnap () {
                    $('#camera-three').show('fast').delay(800).queue(function (next) {
                        $('#camera-two').show('fast').delay(800).queue(function (next) {
                            $('#camera-one').show('fast').delay(800).queue(function (next) {
                                $('#camera-zero').show(0).animate({opacity:1}, 'fast').delay(100).queue(function (next) {
                                    mycam.takePhoto();
                                    next();
                                }).animate({opacity:0}, 'fast').hide(0);
                                next();
                            }).hide('fast');
                            next();
                        }).hide('fast');
                        next();
                    }).hide('fast');
                }

                function spinSpinner(i) {
                    var transform = 'rotate(' + i + 'deg)';
                    $('#camera-spin').css({
                        '-moz-transform': transform,
                        '-webkit-transform': transform,
                        'transform': transform
                    }).delay(40).queue(function (next) {
                        spinSpinner((i + 10) % 360);
                        next();
                    });
                }

                function tookPhoto(cam) {
                    spinSpinner(0);
                    $('#camerabox').addClass('sending');
                    cam.sendPhoto();
                }

                function sentPhoto(cam, url) {
                    // Make a new grid cell with this photo.
                    var newphoto = $('#firstcell');
                    newphoto.find('img').attr('src', url);

                    // Pull out the XID and build the maf.org link to it.
                    var match = url.match(/6a\w+/);
                    var html_url = "{% absoluteurl %}{% url photo xid='XIDXIDXID' %}{% endabsoluteurl %}".replace('XIDXIDXID', match);
                    newphoto.find('a').attr('href', html_url);

                    $('#gridsubstrate').animate({
                        'left': '0px'
                    }, 'slow', function () {
                        // Replace all the old last cells with new first cells.
                        $('#gridsubstrate .lastcell').each(function () {
                            var $this = $(this);
                            var newlast = $this.prev('.gridcell');
                            var newfirst = newlast.clone();
                            newfirst.insertBefore($this);
                            newlast.addClass('lastcell');
                            $this.remove();
                        });

                        // Add a new blank first cell to reflow everything.
                        var $firstcell = $('#firstcell').attr('id', '');
                        var newfirstcell = $firstcell.clone();
                        newfirstcell.attr('id', 'firstcell');
                        newfirstcell.insertBefore($firstcell);

                        // Snap the substrate back into place.
                        $('#gridsubstrate').css('left', '-156px');

                        // Turn the camera back on.
                        cam.dropPhoto();
                        $('#camerabox').removeClass('sending');
                        $('#camera-spin').clearQueue();
                        $('#camera-yay').css({opacity:1}).show(0).animate({opacity:0}, 1200).hide(0);

                        $(document).trigger('madeaface');
                    });
                }

                {% if flash.signedin %}
                // FRIST PSOT
                $(document).bind('madeaface', function () {
                    $('#first-post-1').trigger('your-turn');
                });

                $('#first-post-1').one('your-turn', function () {
                    $(this).show();  // but still invisible

                    var target = $('#gridsubstrate .gridcell:nth(1)');
                    var targpos = target.offset();
                    $(this).offset({
                        top: targpos.top + (target.outerHeight() / 2) - ($(this).outerHeight() / 2),
                        left: targpos.left + 160
                    });

                    $(this).animate({opacity: 1}, 'fast').delay(3000).queue(function (next) {
                        $('#first-post-2').trigger('your-turn');
                        next();
                    });
                    $(this).click(function () {
                        $(this).clearQueue();
                        $('#first-post-2').trigger('your-turn');
                    });
                });

                $('#first-post-2').one('your-turn', function () {
                    $('#first-post-1').animate({opacity: 0}, 'fast').hide(0);
                    $(this).show();  // but still invisible

                    var target = $('#gridsubstrate .gridcell:nth(1)');
                    var targpos = target.offset();
                    $(this).offset({
                        top: targpos.top + 160,
                        left: targpos.left + (target.outerWidth() / 2) - ($(this).outerWidth() / 2)
                    });

                    target.addClass('gridcell-hover');
                    $(this).animate({opacity: 1}, 'fast').delay(6000).queue(function (next) {
                        $('#first-post-3').trigger('your-turn');
                        next();
                    });
                    $(this).click(function () {
                        $(this).clearQueue();
                        $('#first-post-3').trigger('your-turn');
                    });
                });

                $('#first-post-3').one('your-turn', function () {
                    $('#gridsubstrate .gridcell:nth(1)').removeClass('gridcell-hover');
                    $('#first-post-2').animate({opacity: 0}, 'fast').hide(0);
                    $(this).show();  // but still invisible

                    var target = $('#gridsubstrate .gridcell:nth(2)');
                    var targpos = target.offset();
                    $(this).offset({
                        top: targpos.top + 160,
                        left: targpos.left + (target.outerWidth() / 2) - ($(this).outerWidth() / 2)
                    });

                    target.addClass('gridcell-hover');
                    $(this).animate({opacity: 1}, 'fast').delay(6000).queue(function (next) {
                        $(this).trigger('turn-done');
                        next();
                    });
                    $(this).click(function () {
                        $(this).clearQueue();
                        $(this).trigger('turn-done');
                    });
                }).bind('turn-done', function () {
                    $('#gridsubstrate .gridcell:nth(2)').removeClass('gridcell-hover');
                    $(this).animate({opacity: 0}, 'fast').hide(0);
                });
                {% endif %}

                $('#gridsubstrate .gridcell .heart').live('click', function (evt) {
                    var heart = $(this);
                    heart.addClass('busy-heart');
                    $.post('{% url favorite %}', {
                        'action': 'favorite',
                        'asset_id': heart.attr('href')
                    }, function () {
                        heart.removeClass('busy-heart');
                        heart.addClass('favorited');
                    });
                    heart.blur();
                    return false;
                });

                $('#gridsubstrate .gridcell .share').live('click', function (evt) {
                    var share = $(this);
                    var here = share.attr('href');

                    $(document).trigger('sharedaface');

                    {% ifequal share "Facebook" %}
                        $('#facebook-share-link').attr('share_url', here).trigger('click');
                    {% else %}{% ifequal share "Twitter" %}
                        window.location.href = "http://twitter.com/?status=I+made+a+face:+" + here;
                    {% else %}
                        window.location.href = here + "#share";
                    {% endifequal %}{% endifequal %};

                    share.blur();
                    return false;
                });

                $('#gridsubstrate .gridcell .flag').live('click', function (evt) {
                    var flag = $(this);
                    var asset_id = flag.attr('href').match(/6a\w+/)[0];
                    var flags = $('#gridsubstrate .flag-' + asset_id);

                    flag.addClass('busy-flag');
                    $.post('{% url flag %}', {
                        'action': 'flag',
                        'asset_id': asset_id
                    }, function (data, textStatus) {
                        flag.removeClass('busy-flag');
                        flags.addClass('flagged');
                        if (data == 'BALEETED') {
                            flags.parents('.gridcell').find('img').animate({'opacity': 0.25}, 'slow');
                        }
                    });

                    flag.blur();
                    return false;
                });

                $(document).ready(function () {
                    setTimeout(function () {
                        if ($('#take-picture').hasClass('disabled'))
                            $('#need-help').show('fast');
                    }, 3000);
                });
                $(document).bind('cameraReady', function () {
                    $('#need-help').hide();
                });

                var asset_ids = [null {% for event in events %}
                    {% if event.object %},'asset-{{ event.object.xid }}'{% endif %}
                {% endfor %} ];
                asset_ids.splice(0, 1);
                $(document).ready(function () {
                    $.ajax({
                        url: '{% url asset_meta %}',
                        type: "POST",
                        data: {"asset_id": asset_ids},
                        dataType: "json",
                        traditional: true,
                        success: function(data) {
                            $.each(data, function (key, val) {
                                if (val.favorite) {
                                    key = key.replace(/^asset-/, '');
                                    $('#gridsubstrate .heart-' + key).addClass('favorited');
                                }
                                if (val.can_delete) {
                                    key = key.replace(/^asset-/, '');
                                    $('#gridsubstrate .flag-' + key).addClass('hidden');
                                }
                            });
                        }
                    });
                });
            </script>

        {% else %}
            <div id="howto">
                <div id="howto-inner">
                    <h1 class="first">Make a face. It's easy.</h1>

                    <h2><ol>
                    <li>Sign in.</li>
                    <li>Make a face at your web cam.</li>
                    <li>Click the button.</li>
                    </ol></h2>
                </div>

                <div id="howto-show-jacket">
                <div id="howto-show">
                    <div id="howto-show-1"><img src="{% url static path="makeaface/howto/sign-in.png" %}" width="120" height="120" alt=""></div>
                    <div id="howto-show-2"><img src="{% url static path="makeaface/howto/make-face.jpg" %}" width="151" height="151" alt=""></div>
                    <div id="howto-show-3"><img src="{% url static path="makeaface/howto/maf-button.png" %}" width="120" height="120" alt=""></div>
                </div>
                </div>

                <script type="text/javascript">
                    function nextshow() {
                        $('#howto-show').css({'left': '0px'}).delay(4000).queue(function (next) {
                            $('#howto-show').animate({'left': '-458px'}, 'slow', 'swing', function () {
                                $(this)
                                    .append($('#howto-show div:first').detach())
                                    .css({'left': '0px'});
                            });
                            nextshow();
                            next();
                        });
                    }
                    $(document).ready(nextshow);
                </script>
            </div>
        {% endif %}

        <div id="colophon" class="colophon">
            <p>by @<a href="http://markpasc.org/mark/">markpasc</a> &amp; friends</p>
            <p><a href="http://developer.typepad.com/" class="typepad-link">made with</a> <a href="http://developer.typepad.com/"><img src="{% url static path="makeaface/typepad.gif" %}" alt="TypePad"></a></p>
            <p><a href="{% url archive page=2 %}">Older</a> <a href="{% url archive page=2 %}" class="arrow">&rarr;</a></p>
            <p><a href="{% url facegrid %}">See grid view</a></p>
        </div>

        <div id="gridsubstrate">
            <div id="camspace"></div>
            <div id="firstcell" class="gridcell">
                <a href="#" class="link" title="View this face"><img></a>
                {% if user.is_authenticated %}
                <a class="share action" href="" title="Share this face on {{ share }}"><span class="share-{{ share|lower }}">&nbsp;</span></a>
                {% endif %}
            </div>
        {% for event in events %}
            {% if event.object %}
            {% with next_box_loc.next as boxloc %}
                <div class="gridcell {% if boxloc.rowlast %}lastcell{% endif %}">
                    <a class="link" href="{% url photo xid=event.object.xid %}" title="View {{ event.object.author.display_name }}'s face"><img src="{% with event.object|enclosurebywidth:150 as face %}{{ face.url }}{% endwith %}"></a>
                    {% if user.is_authenticated %}
                        {% ifequal user.xid event.object.author.xid %}
                            <a class="share action" href="{% absoluteurl %}{% url photo xid=event.object.xid %}{% endabsoluteurl %}" title="Share this face on {{ share }}"><span class="share-{{ share.lower }}">&nbsp;</span></a>
                        {% else %}
                            <a class="heart action heart-{{ event.object.xid }}" href="{{ event.object.xid }}" title="I like this face"><span>♥</span></a>
                            <a class="flag action flag-{{ event.object.xid }}" href="{{ event.object.xid }}" title="This is not a face"><span>⚑</span></a>
                        {% endifequal %}
                    {% endif %}
                </div>
                {% if boxloc.rowlast %}
                <div class="gridcell">
                    <a class="link" href="{% url photo xid=event.object.xid %}" title="View {{ event.object.author.display_name }}'s face"><img src="{% with event.object|enclosurebywidth:150 as face %}{{ face.url }}{% endwith %}"></a>
                    {% if user.is_authenticated %}
                        {% ifequal user.xid event.object.author.xid %}
                            <a class="share action" href="{% absoluteurl %}{% url photo xid=event.object.xid %}{% endabsoluteurl %}" title="Share this face on {{ share }}"><span class="share-{{ share.lower }}">&nbsp;</span></a>
                        {% else %}
                            <a class="heart action heart-{{ event.object.xid }}" href="{{ event.object.xid }}" title="I like this face"><span>♥</span></a>
                            <a class="flag action flag-{{ event.object.xid }}" href="{{ event.object.xid }}" title="This is not a face"><span>⚑</span></a>
                        {% endifequal %}
                    {% endif %}
                </div>
                {% endif %}
            {% endwith %}
            {% endif %}
        {% endfor %}

        </div>
    </div>

{% endblock %}

<script>
{% block ganalytics_callbacks %}
{% if user.is_authenticated %}
    {% if flash.signedin %}
        pageTracker._trackPageview('/index/signedin');

        $.ajax({
            url: 'http://api.typepad.com/users/{{ user.xid }}/events.js?max-results=2&start-index=1',
            dataType: 'jsonp',
            success: function (data) {
                if (data['entries'].length < 2) {
                    pageTracker._trackPageview('/index/signed-in-new');
                }
            }
        });
    {% endif %}
{% endif %}
$(document).bind('madeaface', function () {
    pageTracker._trackPageview('/index/made-a-face');
});
$(document).bind('sharedaface', function () {
    pageTracker._trackPageview('/index/shared-a-face');
});
{% endblock %}
</script>
