{% extends "makeaface/base.html" %}
{% load abs %}

{% block htmltitle %}{{ photo.author.display_name }}'s face &middot; {{ block.super }}{% endblock %}

{% block htmlhead %}
<meta name="title" title="{{ photo.author.display_name }}'s face &middot; Make A Face">
{% endblock %}

{% block content %}
    <div id="gridcontainer" class="photogrid">
        <div id="photobox">
            <div id="photo">
                <img src="{{ photo.links.maxwidth__500.href }}">
            </div>
        </div>

        <div id="photo-data" class="gridcell">
            <div id="photo-data-inner">
            <div id="photo-by">
                <p><big>
                    <a href="{{ photo.author.typepad_url }}"><img src="{{ photo.author.links.rel__avatar.maxwidth__50.href }}"></a>
                    <a href="{{ photo.author.typepad_url }}">{{ photo.author.display_name }}</a>'s face
                </big></p>
            </div>

            {% if user.is_authenticated %}
            {% ifequal user.xid photo.author.xid %}
                <div class="photo-action-share">
                    <p>
                        <span class="tp-button">
                            <span class="button button-share button-xl">
                                <a id="photo-action-share" href="{{ photo.xid }}"><span class="icon {{ share|lower }}">&nbsp;</span><span class="text">Share on {{ share }}</span></a>
                            </span>
                        </span>
                    </p>
                </div>

                <div class="photo-action-delete">
                    <p>
                        <span class="tp-button">
                            <span class="button button-delete">
                                <a id="photo-action-delete" href="{{ photo.xid }}"><span class="ex">✗</span><span class="text">Delete your face</span></a>
                            </span>
                        </span>
                    </p>
                </div>
            {% else %}
                <div class="photo-action-heart">
                    <p>
                        <span class="tp-button">
                            <span class="button button-heart button-xl">
                                <a id="photo-action-heart" {% if user_favorite %}class="favorited"{% endif %} href="{{ photo.xid }}"><span class="heart">♥</span><span class="text">{% if user_favorite %}You like this face!{% else %}I like this face{% endif %}</span></a>
                            </span>
                        </span>
                    </p>
                </div>

                <div class="photo-action-flag">
                    <p>
                        <span class="tp-button">
                            <span class="button button-flag">
                                <a id="photo-action-flag" href="{{ photo.xid }}"><span class="flag">⚑</span><span class="text">This is not a face</span></a>
                            </span>
                        </span>
                    </p>
                </div>
            {% endifequal %}

            <script type="text/javascript">
            $('#photo-action-heart').click(function () {
                var heart = $(this);

                if (!heart.hasClass('favorited')) {
                    $.post('{% absoluteurl %}{% url favorite %}{% endabsoluteurl %}', {
                        'action': 'favorite',
                        'asset_id': heart.attr('href')
                    }, function () {
                        heart.addClass('favorited');
                        heart.find('.text').text('You like this face!');

                        $('#new-favorite').show();
                    });
                }

                heart.blur();
                return false;
            });

            $('#photo-action-flag').click(function () {
                var flag = $(this);
                $.post('{% absoluteurl %}{% url flag %}{% endabsoluteurl %}', {
                    'action': 'flag',
                    'asset_id': flag.attr('href')
                }, function (data, textStatus) {
                    flag.addClass('flagged');
                    flag.find('.text').text('Flagged!');
                    if (data == 'BALEETED') {
                        window.location.href = "{% url home %}";
                    }
                });
                flag.blur();
                return false;
            });

            $('#photo-action-share').click(function () {
                var here = "{% absoluteurl %}{% url photo xid=photo.xid %}{% endabsoluteurl %}";

                {% ifequal share "Facebook" %}
                    $('#facebook-share-link').attr('share_url', here).trigger('click');
                {% else %}{% ifequal share "Twitter" %}
                    window.location.href = "http://twitter.com/?status=I+made+a+face:+" + here;
                {% else %}
                    sharetypepad();
                {% endifequal %}{% endifequal %};

                return false;
            });

            $('#photo-action-delete').click(function () {
                var del = $(this);

                if (del.hasClass('really-delete')) {
                    $.post('{% absoluteurl %}{% url delete %}{% endabsoluteurl %}', {
                        'action': 'delete',
                        'asset_id': del.attr('href')
                    }, function () {
                        window.location.href = "{% url home %}";
                    });
                }
                else {
                    del.addClass('really-delete');
                    del.find('.text').html('<em>Really</em> delete?');
                }
                del.blur();
                return false;
            });
            </script>
            {% endif %}

            </div>
        </div>

        {% for fav in favorites %}
        <div class="gridcell">
            {% if fav.lastface %}
                <a href="{% url photo xid=fav.lastface.xid %}" title="{{ fav.author.display_name }} liked this face"><img src="{{ fav.lastface.links.rel__enclosure.maxwidth__150.href|slice:":-6" }}-150si"></a>
            {% else %}
                <a href="{{ fav.author.typepad_url }}" title="{{ fav.author.display_name }} liked this face"><img src="{{ fav.author.links.rel__avatar.maxwidth__200.href }}"></a>
            {% endif %}
        </div>
        {% endfor %}

        {% if user.is_authenticated %}
        {% if user_favorite %}{% else %}
        <div id="new-favorite" class="gridcell hidden">
            {% if lastface %}
                <a href="{% url photo xid=lastface.xid %}" title="{{ user.display_name }} liked this face"><img src="{{ lastface.links.rel__enclosure.maxwidth__150.href|slice:":-6" }}-150si"></a>
            {% else %}
                <a href="{{ user.typepad_url }}" title="{{ user.display_name }} liked this face"><img src="{{ user.links.rel__avatar.maxwidth__200.href }}"></a>
            {% endif %}
        </div>
        {% endif %}
        {% endif %}

        </div>
    </div>

{% endblock %}
